<!DOCTYPE html>
<html dir="rtl">

<head>
	<!-- meta-tag -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- fonts -->
	<link href="../assets/fonts/iransans-fonts/fonts.scss" type="text/scss" rel="stylesheet">
	<link href="../assets/fonts/flaticont/flaticon.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- css-style -->
	<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
		integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
	<link href="../styles/normilize.css" type="text/css" rel="stylesheet">
	<link href="../styles/app.css" type="text/css" rel="stylesheet">


	<title>Jon Onja</title>
</head>

<body class="bg-light">




	<div id="main-div">
		<nav class="sticky-top navbar-light shadow-sm pt-1">
			<div class="d-flex flex-row container">
				<div class="justify-content-start">
					<a class="" href="#">
						<img src="../assets/logo/logo v1.png" class="navbar-item" alt="">
					</a>
				</div>
				<div class="justify-content-end d-inline-flex align-items-center ml-auto">
					<a class="nav-link iranSans text-body" href="#">
						حساب کاربری
					</a>
					<a class="nav-link iranSans text-body" href="#">
						خروج
					</a>
				</div>

			</div>
		</nav>
		<div class="bg-light-blue" id="div-bg-blue-light-relative"><div class="container"><span><h1>سلام</h1></div></span></div>


		<footer class="text-muted d-flex align-items-center justify-content-center fixed-bottom">
			<div class="iranSans drop-shadow">&copy; تمامی حقوق این سایت متعلق به
				جاب‌اونجامی‌باشد
			</div>
		</footer>
	</div>

</body>

</html>
