<!DOCTYPE html>
<html dir="rtl">

<head>
    <!-- meta-tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="../assets/fonts/iransans-fonts/fonts.scss" type="text/scss" rel="stylesheet">
    <link href="../assets/fonts/flaticont/flaticon.css" type="text/css" rel="stylesheet">

    <!-- css-style -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link href="../styles/normilize.css" type="text/css" rel="stylesheet">
    <link href="../styles/app.css" type="text/css" rel="stylesheet">


    <title>Jon Onja</title>
</head>

<body class="bg-light">
    <div class="bg-light-blue" id="div-bg-blue-light"></div>

    <div id="main-div">
        <nav class="sticky-top navbar-light shadow-sm pt-1">
            <div class="d-flex flex-row container">
                <div class="justify-content-start">
                    <a class="" href="#">
                        <img src="../assets/logo/logo v1.png" class="navbar-item" alt="">
                    </a>
                </div>
                <div class="justify-content-end d-inline-flex align-items-center ml-auto">
                    <a class="nav-link iranSans text-body" href="#">
                        حساب کاربری
                    </a>
                    <a class="nav-link iranSans text-body" href="#">
                        خروج
                    </a>
                </div>

            </div>
        </nav>

        <div class="container d-flex flex-column mb-5">
            <div class="d-flex flex-column rounded-corners">
                <div class="mt-4 d-flex flex-column">
                    <h1 class="iranSans dark-blue">جاب‌اونجا خوب است!</h1>
                    <p class="iranSans p-indented-2 text-body font-weight-light">
                        لوازم ایپسوم متن ساختگی با سادگی نا مفهوم از صنعت چاپ وب با
                    </p>
                    <div class="d-flex flex-row bg-light dark-blue w-65 align-self-center shadow"
                        style="border-bottom-style: solid;border-top-width: 2px;">
                        <p
                            class="iranSans my-2 ml-2 text-muted font-weight-light flex-grow-1 align-self-center font-size-big">
                            جستجو در جاب‌اونجا
                        </p>
                        <div class="m-1 p-2 bg-dark-blue text-white iranSans">جستجو</div>
                    </div>

                </div>
                <div class="d-flex flex-row mt-4">
                    <div class="d-flex flex-column w-25">
                        <div class="bg-white rounded-corners shadow d-flex flex-row align-items-center mb-2">
                            <div class="m-1 bg-light w-100">
                                <p class="iranSans my-2 ml-3 text-muted">جستجو نام کاربر</p>
                            </div>
                        </div>
                        <!-- here goes right side cards -->
                        <div class="bg-white rounded-corners shadow d-flex flex-row align-items-center mb-1">
                            <img src="../assets/pictures/profile/p2.png"
                                class="home-sidebard-img m-2 rounded-corners" />
                            <div class="d-flex flex-column justify-content-center">
                                <p class="iranSans text-body mb-0">صادق حائری</p>
                                <p class="iranSans text-muted mb-0 mt-1">گیک</p>
                            </div>
                        </div>
                        <div class="bg-white rounded-corners shadow d-flex flex-row align-items-center mb-1">
                            <img src="../assets/pictures/profile/profile1.png"
                                class="home-sidebard-img m-2 rounded-corners" />
                            <div class="d-flex flex-column justify-content-center">
                                <p class="iranSans text-body mb-0">محمدرضا کیانی</p>
                                <p class="iranSans text-muted mb-0 mt-1">چیف تی‌ای</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column w-75 ml-4">
                        <!-- here goes project items -->
                        <div class="bg-white d-flex flex-row rounded-corners mx-2 p-3 shadow">
                            <img src="../assets/pictures/project/profile1.png"
                                class="img-fluid border rounded-corners home-list-project-img">
                            <div class="d-flex flex-column w-100 px-3 pt-2">
                                <div class="d-flex flex-row w-100 align-items-start mb-1">
                                    <h5 class="iranSans mr-auto">وبسایت فروشگاهی مشابه دیجیکالا</h5>
                                    <div class="bg-light rounded-corners px-1">
                                        <p class="iranSans text-muted font-size-small mb-0">زمان باقی مانده: ۱۷:۱۷</p>
                                    </div>
                                    <!-- <div class="bg-info rounded-corners px-1">
                                        <p class="iranSans text-light font-size-small mb-0">مهلت تمام شده</p>
                                    </div> -->
                                </div>
                                <div class="iranSans font-weight-light font-size-description mb-1">
                                    گرافیکیاست. چاپگرها و متون لبکه روزنامه و محله ذر ستون وسطر آنچنان که لازماست.لوازم
                                    ایپسوم مت
                                    ساختگی با سادگی نا مفهوم از
                                </div>
                                <div class="iranSans text-info font-weight-bold mb-1">بودجه: ۲۵۰۰ تومن</div>
                                <div class="d-flex flex-row align-items-center font-size-small">
                                    <div class="iranSans text-muted bo">مهارت ها:</div>
                                    <div class="bg-light rounded-corners border p-1 ml-2">
                                        <p class="iranSans text-muted font-weight-bold mb-0">HTML</p>
                                    </div>
                                    <div class="bg-light rounded-corners border p-1 ml-2">
                                        <p class="iranSans text-muted font-weight-bold mb-0">CSS</p>
                                    </div>
                                    <div class="bg-light rounded-corners border p-1 ml-2">
                                        <p class="iranSans text-muted font-weight-bold mb-0">JavaScript</p>
                                    </div>
                                    <div class="bg-light rounded-corners border p-1 ml-2">
                                        <p class="iranSans text-muted font-weight-bold mb-0">TypeScript</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="text-muted d-flex align-items-center justify-content-center fixed-bottom">
            <div class="iranSans drop-shadow">&copy; تمامی حقوق این سایت متعلق به
                جاب‌اونجامی‌باشد
            </div>
        </footer>
    </div>

</body>

</html>