<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link href="../styles/app.css" type="text/css" rel="stylesheet">

    <title>Jon Onja</title>
</head>

<body class="bg-light">
    <div id="main-div">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <div class="container">
                <a class="navbar-brand navbar-right" href="#">
                    <img src="../assets/logo/logo v1.png" class="d-inline-block" alt="">
                </a>
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item active"><a class="nav-link iranSans" href="#">
                            حساب کاربری
                        </a></li>
                    <li class="nav-item active"><a class="nav-link iranSans" href="#">
                            خروج
                        </a></li>
                </ul>
            </div>
        </nav>

        <div class="container" id="content">
            <div class="container-fluid" style="height: 50px;"></div>
            <div style="width: 100%;">
                <div class="card">
                    <div class="card-container">
                        <span>
                            <img src="../assets/profile1.png" id="profile-image" class="img-fluid"
                                alt="Responsive image">
                        </span>
                        <span>
                            <div>
                                <div>
                                    <h1 class="iranSans">پروژه طراحی سایت جاب‌اونجا</h2>
                                </div>
                                <div>
                                    <span>
                                        <img id="image_mask" src="../assets/icon/svg/003-deadline.svg" width="10em"
                                            alt="">
                                    </span>
                                    <span>
                                        <p class="iranSans danger_text">مهلت تمام شده است</p>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <img src="../assets/icon/svg/004-money-bag.svg" width="10em" alt="">
                                    </span>
                                    <span>
                                        <p class="iranSans">بودجه : ۲۵۰۰ تومان</p>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <img src="../assets/icon/svg/001-check-mark.svg" width="10em" alt="">
                                    </span>
                                    <span>
                                        <p class="iranSans">برنده: وحید محمدی</p>
                                    </span>
                                </div>
                                <div>
                                    <p class="iranSans"><b>&nbspتوضیحات</b></p>
                                </div>



                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="container-fluid"></div>
        </div>

        <footer class="text-muted Aligner">
            <div class="iranSans text-center Aligner-item drop-shadow">&copy; تمامی حقوق این سایت متعلق به
                جاب‌اونجامی‌باشد
            </div>
        </footer>
    </div>

</body>

</html>