<!DOCTYPE html>
<html dir="rtl">

<head>
    <!-- meta-tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="../assets/fonts/iransans-fonts/fonts.scss" type="text/scss" rel="stylesheet">
    <link href="../assets/fonts/flaticont/flaticon.css" type="text/css" rel="stylesheet">

    <!-- css-style -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link href="../styles/normilize.css" type="text/css" rel="stylesheet">
    <link href="../styles/app.css" type="text/css" rel="stylesheet">


    <title>Jon Onja</title>
</head>

<body>
    <div class="bg-light-blue" id="div-bg-blue-light"></div>

    <div id="main-div">
        <nav class="sticky-top navbar-light shadow-sm pt-1">
            <div class="d-flex flex-row container">
                <div class="justify-content-start">
                    <a class="" href="#">
                        <img src="../assets/logo/logo v1.png" class="navbar-item" alt="">
                    </a>
                </div>
                <div class="justify-content-end d-inline-flex align-items-center ml-auto">
                    <a class="nav-link iranSans text-body" href="#">
                        حساب کاربری
                    </a>
                    <a class="nav-link iranSans text-body" href="#">
                        خروج
                    </a>
                </div>

            </div>
        </nav>

        <div class="container d-flex flex-column mb-5">
            <div class="card d-flex flex-column shadow" id="content">
                <div class="d-flex d-inline-flex card-body">
                    <div class="card-body">
                        <img src="../assets/pictures/project/profile1.png" id="profile-image" class="img-fluid border"
                            alt="">
                    </div>
                    <div class="d-flex flex-column card-body">
                        <strong>
                            <div>
                                <h1 class="iranSans m-0">پروژه طراحی سایت جاب‌اونجا</h2>
                            </div>
                            <!-- <div>
                                <p class="iranSans text-danger mb-0">
                                    <i class="mr-1 flaticon-deadline"></i>
                                    مهلت تمام شده است
                                </p>
                            </div> -->
                            <div>
                                <p class="iranSans text-muted mb-0">
                                    <i class="mr-1 flaticon-deadline"></i>
                                    زمان باقی مانده: <span class="unbold-text">۱۷ دقیقه و ۲۵ ثانیه</span>
                                </p>
                            </div>
                            <div>
                                <p class="iranSans text-info mb-0">
                                    <i class="mr-1 flaticon-money-bag"></i>
                                    بودجه : ۲۵۰۰ تومان
                                </p>
                            </div>
                            <!-- <div>
                                <p class="iranSans text-success mb-0">
                                    <i class="mr-1 flaticon-check-mark"></i>
                                    برنده : وحید محمدی
                                </p>
                            </div> -->
                            <div>
                                <h4 class="iranSans my-3">توضیحات</h4>
                            </div>
                        </strong>
                        <div>
                            <p class="iranSans">لوازم ایپسوم متن ساختگی با سادگی نا مفهوم از صنعت چاپ وب با
                                استفاده از طاحان
                                گرافیکیاست. چاپگرها و متون لبکه روزنامه و محله ذر ستون وسطر آنچنان که لازم
                                است.لوازم ایپسوم متن
                                ساختگی با سادگی نا مفهوم از صنعت چاپ وب با استفاده از طاحان گرافیکیاست. چاپگرها
                                و متون لبکه روزنامه
                                و محله ذر ستون وسطر آنچنان که لازم است.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="bg-light light-blue card-body" style="border-top-style: dashed;border-top-width: 2px;">
                    <div class="container d-flex flex-column">
                        <div class="align-self-start">
                            <h5 class="iranSans text-info">
                                <strong>
                                    مهارت ها لازم:
                                </strong>
                            </h5>
                        </div>
                        <div class="align-self-end" id="project-skill">
                            <div class="d-inline-flex bg-white rounded-corners border-light shadow-sm mb-2">
                                <div class="m-1 px-1 text-body">
                                    <span class="iranSans badge bg-light-blue text-info py-2 px-2  my-0"> 2</span>
                                    TypeScript
                                </div>
                            </div>
                            <div class="d-inline-flex bg-white rounded-corners border-light shadow-sm">
                                <div class="m-1 px-1 text-body">
                                    <span class="iranSans badge bg-light-blue text-info py-2 px-2  my-0"> 16</span>
                                    JavaScript
                                </div>
                            </div>
                            <div class="d-inline-flex bg-white rounded-corners border-light shadow-sm">
                                <div class="m-1 px-1 text-body">
                                    <span class="iranSans badge bg-light-blue text-info py-2 px-2  my-0"> 3</span>
                                    CSS
                                </div>
                            </div>
                            <div class="d-inline-flex bg-white rounded-corners border-light shadow-sm">
                                <div class="m-1 px-1 text-body">
                                    <span class="iranSans badge bg-light-blue text-info py-2 px-2  my-0"> 5</span>
                                    HTML
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="text-dark bg-white card-body" style="border-top-style: ridge;border-top-width: 1px;">
                    <!-- <p class="iranSans text-danger mb-0">
                        <i class="flaticon-danger mr-2"></i>
                        مهلت ارسال پیشنهاد برای این پروژه به اتمام رسیده است!
                    </p> -->

                    <!-- <p class="iranSans text-success mb-0">
                        <i class="flaticon-check-mark mr-2"></i>
                        شما قبلا پیشنهاد خود را ثبت کرده اید.
                    </p> -->


                    <div class="d-flex-row">
                        <h4 class="iranSans text-body mb-0">
                            ثبت پیشنهاد
                        </h4>
                        <div class="d-flex d-inline-flex my-3">
                            <div class="input-group mx-2 rounded-corners border-info">
                                <input type="text" class="form-control iranSans text-muted border-blue border-right-0"
                                    placeholder="پیشنهاد خود را وارد کنید">
                                <div class="input-group-append">
                                    <span
                                        class="input-group-text  pb-1 bg-white iranSans text-info border-blue border-left-0">
                                        تومان
                                    </span>
                                </div>

                            </div>
                            <div>
                                <button type="button" class="btn bg-blue text-white iranSans">ارسال</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <footer class="text-muted d-flex align-items-center justify-content-center fixed-bottom">
            <div class="iranSans drop-shadow">&copy; تمامی حقوق این سایت متعلق به
                جاب‌اونجامی‌باشد
            </div>
        </footer>
    </div>

</body>

</html>