<!DOCTYPE html>
<html dir="rtl">

<head>
    <!-- meta-tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="../assets/fonts/iransans-fonts/fonts.scss" type="text/scss" rel="stylesheet">
    <link href="../assets/fonts/flaticont/flaticon.css" type="text/css" rel="stylesheet">

    <!-- css-style -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link href="../styles/app.css" type="text/css" rel="stylesheet">


    <title>Jon Onja</title>
</head>

<body class="bg-light">
    <div id="main-div">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <div class="container">
                <a class="navbar-brand navbar-right" href="#">
                    <img src="../assets/logo/logo v1.png" class="d-inline-block" alt="">
                </a>
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link iranSans" href="#">
                            حساب کاربری
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link iranSans" href="#">
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="div-bg-light-blue"></div>
        <div class="bg-light" id="div-bg-light"></div>

        <div class="container d-flex flex-column">
            <div class="card d-flex flex-column shadow" id="content">
                <div class="d-flex d-inline-flex card-body">
                    <div class="card-body">
                        <img src="../assets/profile1.png" id="profile-image" class="img-fluid" alt="">
                    </div>
                    <div class="d-flex flex-column mr-3 card-body">
                        <b>
                            <div>
                                <h1 class="iranSans">پروژه طراحی سایت جاب‌اونجا</h2>
                            </div>
                            <div>
                                <p class="iranSans text-danger mb-0">
                                    <i class="mr-1 flaticon-deadline"></i>
                                    مهلت تمام شده است
                                </p>
                            </div>
                            <div>
                                <p class="iranSans text-info mb-0">
                                    <i class="mr-1 flaticon-money-bag"></i>
                                    بودجه : ۲۵۰۰ تومان
                                </p>
                            </div>
                            <div>
                                <p class="iranSans text-success mb-0">
                                    <i class="mr-1 flaticon-check-mark"></i>
                                    برنده : وحید محمدی
                                </p>
                            </div>
                            <div>
                                <p class="iranSans">توضیحات</p>
                            </div>
                        </b>
                        <div>
                            <p class="iranSans">لوازم ایپسوم متن ساختگی با سادگی نا مفهوم از صنعت چاپ وب با
                                استفاده از طاحان
                                گرافیکیاست. چاپگرها و متون لبکه روزنامه و محله ذر ستون وسطر آنچنان که لازم
                                است.لوازم ایپسوم متن
                                ساختگی با سادگی نا مفهوم از صنعت چاپ وب با استفاده از طاحان گرافیکیاست. چاپگرها
                                و متون لبکه روزنامه
                                و محله ذر ستون وسطر آنچنان که لازم است.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="bg-light text-info card-body" style="border-top-style: dashed;border-top-width: 2px;">
                    <div class="container d-flex flex-column">
                        <div class="align-self-start">
                            <p class="iranSans">
                                <b>
                                    مهارت ها لازم:
                                </b>
                            </p>
                        </div>
                        <div class="align-self-end">
                            <div class="d-inline-flex">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge badge-info"> 17</span>
                                        <!-- <button type="button" class="btn btn-info">Info</button> -->
                                        TypeScript
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-dark bg-white card-body" style="border-top-style: ridge;border-top-width: 1px;">
                    <p class="iranSans text-danger mb-0">
                        <i class="flaticon-danger"></i>
                        مهلت ارسال پیشنهاد برای این پروژه به اتمام رسیده است!
                    </p>
                </div>
            </div>
        </div>

        <footer class="text-muted d-flex align-items-center justify-content-center fixed-bottom">
            <div class="iranSans drop-shadow">&copy; تمامی حقوق این سایت متعلق به
                جاب‌اونجامی‌باشد
            </div>
        </footer>
    </div>

</body>

</html>