<!DOCTYPE html>
<html dir="rtl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
		integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
	<link href="../styles/app.css" type="text/css" rel="stylesheet">
	<title>Jon Onja</title>
</head>

<body class="bg-light">
	<div id="main-div">
		<nav class="navbar navbar-expand-lg sticky-top navbar-light">
			<div class="container">
				<a class="navbar-brand navbar-right" href="#">
					<img src="../assets/logo/logo v1.png" class="d-inline-block" alt="">
				</a>
				<ul class="navbar-nav  ml-auto">
					<li class="nav-item active"><a class="nav-link iranSans" href="#">
							حساب کاربری
						</a></li>
					<li class="nav-item active"><a class="nav-link iranSans" href="#">
							خروج
						</a></li>
				</ul>
			</div>
		</nav>
		<div class="fling-minislide">
			<img src="/home/mahdi/Downloads/CA4/assets/designs/profile-page.png" alt="Slide 1" />
			<img src="/home/mahdi/Downloads/CA4/assets/designs/project-already-bid.png" alt="Slide 2" />
			<img src="/home/mahdi/Downloads/CA4/assets/designs/profile-page.png" alt="Slide 3" />
			<img src="/home/mahdi/Downloads/CA4/assets/designs/project-already-bid.png" alt="Slide 4" />
		</div>
	</div>
</body>