.iranSans {
    font-family:IRANSans;
}

nav {
    /* flex: 0 1 auto; */
    max-height: 60px;
    background-color: white;
}

img {
    vertical-align: unset;
}

span {
    display: inline-block;
}

footer {
    display: flex;
    background-color: #363636 !important;
    height: 65px;
}

.navbar .navbar-brand img {
    max-height: 55px;
    padding-top: 2px;
}

.nav_bottom {
    background-color: #17a2b8;
    height: 150px;
}

.drop-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.img_profile {
    position: inherit;
    top: -70px;
    right: 10%;
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    max-width: 100%;
    height: auto;
    border-radius: 1rem!important;
}

.profile_name {
    position: inherit;
    right: 30%;
    top: -200px;
}
.profile_name_description {
    position: inherit;
    right: 30%;
    top: -200px;
}

#content
{
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}

#main-div {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#profile-image {
    max-width: 200px;
    max-height: 200px;
}

.fling-minislide {width:350px; height:300px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
