
@font-face {
    font-family: Icons;
    font-style: normal;
    src: url("../assets/fonts/icons.eot");
    src: url('../assets/fonts/icons.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/iransans-fonts/iransans/icons.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/iransans-fonts/iransans/icons.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_Bold.eot");
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/iransans-fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/iransans-fonts/iransans/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/iransans-fonts/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_Medium.eot');
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/iransans-fonts/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/iransans-fonts/iransans/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/iransans-fonts/iransans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_Light.eot');
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/iransans-fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/iransans-fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/iransans-fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_UltraLight.eot');
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/iransans-fonts/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/iransans-fonts/iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/iransans-fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb.eot');
    src: url('../assets/fonts/iransans-fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/iransans-fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/iransans-fonts/iransans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/iransans-fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}

.iranSans {
    font-family:IRANSans;
}

nav {
    flex: 0 1 auto;
    max-height: 60px;
    background-color: white;
}

img {
    vertical-align: unset;
}

span {
    display: inline-block;
}

footer {
    display: flex;
    background-color: #363636 !important;
    height: 60px;
    flex: 0 1 60px;
    /* vertical-align: middle; */

    /* clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px; */

}

.navbar .navbar-brand img {
    max-height: 55px;
    padding-top: 2px;
}

.drop-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;

}
.Aligner-item {
    max-width: 100%;
    /* align-self: flex-middle; */
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.center_in_parent {
    margin: 0 auto;
}

.danger_text {
    color: #f00;
    fill: #f00;
    color
}

.nav_bottom {
    background-color:#17a2b8;
    height: 150px;
}

.img_profile {
    position: inherit;
    top: -70px;
    right: 10%;
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    max-width: 100%;
    height: auto;
    border-radius: 1rem!important;
}

.profile_name {
    position: inherit;
    right: 30%;
    top: -200px;
}
.profile_name_description {
    position: inherit;
    right: 30%;
    top: -200px;
}
#content
{
    height: 100%;
    flex: 1 1 auto;
    overflow: auto;
}

#main-div {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#profile-image {
    max-width: 200px;
    max-height: 200px;
}

.fling-minislide {width:350px; height:300px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
